/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'futuraB';
  src: url(../fonts/FuturaTEE-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'futuraR';
  src: url(../fonts/FuturaTEEMed-Regular.ttf) format("truetype"); }

* {
  box-sizing: border-box;
  font-size: 0; }

a {
  text-decoration: none; }

input {
  margin: 0;
  vertical-align: bottom; }

.align-right {
  text-align: right; }

.futuraB {
  font-family: futuraB; }

.header {
  border-top: 7px solid #d20000; }

.total {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.c-text-basic {
  font-size: 12px; }

.c-text-large {
  font-size: 20px; }

.c-text-bold {
  font-weight: bold; }

.c-text-light {
  font-weight: lighter; }

.c-text-nav {
  color: #fff; }

.c-text-essential {
  color: #c00; }

.c-text-brand {
  color: #d20000; }

.c-text-link {
  color: #000; }

.c-text-search, .c-text-title, .c-text-author, .c-text-total {
  color: #fff; }

.c-bgcolor-tel {
  background-color: #666; }

.c-nav {
  width: 100%; }

.c-list {
  width: maxWidth; }
  .c-list > li {
    display: inline-block; }

.c-wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto; }

.c-form {
  width: 240px;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4.8px;
  border-radius: 3px;
  border-width: 1px;
  font-size: 16px; }

.c-btn {
  border-width: 1px;
  border-radius: 3px; }
  .c-btn:hover {
    cursor: pointer; }

.c-btn {
  border-color: #1c1c1c; }

.c-titlebox-bgcolor {
  background-color: #d20000; }

.p-nav {
  background-color: #d20000; }

.p-logo {
  width: 288px; }

.p-header-text {
  letter-spacing: 1px; }

.p-header__wrapper {
  width: 950px;
  padding-top: 8px;
  padding-bottom: 27px;
  padding-left: 5px;
  padding-right: 4px; }

.p-header-boxborder {
  border: 1px solid #666; }

.p-header__tel {
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 7px; }

.p-header__time {
  padding-top: 7px;
  padding-left: 11.7px;
  padding-bottom: 7px; }

.p-form__btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3.9px;
  padding-right: 4px;
  color: #fff;
  background-color: #333; }

.p-list > li {
  padding-top: 15px;
  padding-bottom: 15px; }

.p-top-wrapper {
  width: 935px;
  padding-top: 19px; }

.p-title {
  width: 300px;
  height: 63px;
  text-align: center;
  line-height: 65px; }

.p-news-pd {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 13px; }

.p-news-boxborder {
  border: 1px solid #626262; }

.p-lineheight-sm {
  line-height: 1.5; }

.p-lineheight-md {
  line-height: 2; }

.p-lineheight-l {
  line-height: 2.5; }

.p-smalltitle {
  width: 300px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .p-smalltitle-radius {
    border-radius: 15px; }

.p-categories {
  width: 940px;
  margin: 0 auto;
  height: 92px;
  padding: 18px;
  background-color: #f4f4f4;
  line-height: 1.5;
  font-size: 0; }
  .p-categories-boxborder {
    border: 1px solid #000; }

.p-product__wrapper {
  width: 960px; }

.p-product__list > li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px; }

.p-img {
  width: 220px;
  overflow: hidden; }
  .p-img-shadow {
    box-shadow: 0 0 5px #ccc; }
  .p-img-product {
    height: 223px;
    background-position: 50% 50%;
    background-size: cover; }
  .p-img-cap {
    padding-top: 5px;
    padding-left: 4.8px;
    padding-right: 4.8px;
    padding-bottom: 8px;
    color: #000;
    background-color: #eee; }
    .p-img-cap-text {
      height: 70px;
      line-height: 1.5; }

.p-good__item {
  width: 462px;
  vertical-align: top; }

.p-good__cap, .p-good__cap__bottom {
  color: #000;
  background-color: #eee;
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 5px; }
  .p-good__cap__bottom {
    padding-top: 10px; }

.p-footer__top {
  background-color: #626262;
  padding-top: 39px;
  padding-bottom: 37px; }

.p-footer__nav__list {
  padding-left: 11px; }
  .p-footer__nav__list > li {
    display: inline-block; }
    .p-footer__nav__list > li:nth-child(n+2) {
      margin-left: 19.9px; }

.p-footer__bottom {
  background-color: #434343;
  padding-top: 35px;
  padding-bottom: 11px; }

.p-footer__img {
  padding-top: 6px; }

.p-footer__tel {
  color: #999; }
  .p-footer__tel__num {
    font-size: 30px;
    letter-spacing: 1.2px; }
  .p-footer__tel__time {
    font-size: 10px;
    line-height: 30px;
    vertical-align: super; }

.p-author {
  max-width: 940px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto; }

.p-total {
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 5px; }
  .p-total__cart {
    border: 1px solid #1c1c1c;
    border-radius: 3px;
    padding: 7px;
    line-height: 1.5;
    background-color: #d20000; }

.u-pb-1 {
  padding-bottom: 1px; }

.u-pb-2 {
  padding-bottom: 2px; }

.u-pb-3 {
  padding-bottom: 3px; }

.u-pb-4 {
  padding-bottom: 4px; }

.u-pb-5 {
  padding-bottom: 5px; }

.u-pb-6 {
  padding-bottom: 6px; }

.u-pb-7 {
  padding-bottom: 7px; }

.u-pb-8 {
  padding-bottom: 8px; }

.u-pb-9 {
  padding-bottom: 9px; }

.u-pb-10 {
  padding-bottom: 10px; }

.u-pb-11 {
  padding-bottom: 11px; }

.u-pb-12 {
  padding-bottom: 12px; }

.u-pb-13 {
  padding-bottom: 13px; }

.u-pb-14 {
  padding-bottom: 14px; }

.u-pb-15 {
  padding-bottom: 15px; }

.u-pb-16 {
  padding-bottom: 16px; }

.u-pb-17 {
  padding-bottom: 17px; }

.u-pb-18 {
  padding-bottom: 18px; }

.u-pb-19 {
  padding-bottom: 19px; }

.u-pb-20 {
  padding-bottom: 20px; }

.u-pt-4 {
  padding-top: 4px; }

.u-lineheightmd {
  line-height: 2; }

.u-lineheight-18 {
  line-height: 18px; }

.u-subnav-decorate {
  text-decoration: underline; }

.u-subnav-color {
  color: #000; }

.u-tel__num {
  line-height: 30px; }

.u-align-left {
  text-align: left; }

.u-align-right {
  text-align: right; }

.u-align-center {
  text-align: center; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-cf::before, .u-cf::after {
  display: block;
  clear: both;
  content: ""; }

.u-block {
  display: block; }

.u-inlineblock {
  display: inline-block; }

.u-table {
  display: table; }
  .u-table > li {
    display: table-cell; }

.u-mt-1 {
  margin-top: 1px; }

.u-mt-2 {
  margin-top: 2px; }

.u-mt-3 {
  margin-top: 3px; }

.u-mt-4 {
  margin-top: 4px; }

.u-mt-5 {
  margin-top: 5px; }

.u-mt-6 {
  margin-top: 6px; }

.u-mt-7 {
  margin-top: 7px; }

.u-mt-8 {
  margin-top: 8px; }

.u-mt-9 {
  margin-top: 9px; }

.u-mt-10 {
  margin-top: 10px; }

.u-mt-11 {
  margin-top: 11px; }

.u-mt-12 {
  margin-top: 12px; }

.u-mt-13 {
  margin-top: 13px; }

.u-mt-14 {
  margin-top: 14px; }

.u-mt-15 {
  margin-top: 15px; }

.u-mt-16 {
  margin-top: 16px; }

.u-mt-17 {
  margin-top: 17px; }

.u-mt-18 {
  margin-top: 18px; }

.u-mt-19 {
  margin-top: 19px; }

.u-mt-20 {
  margin-top: 20px; }

.u-mt-21 {
  margin-top: 21px; }

.u-mt-22 {
  margin-top: 22px; }

.u-mt-23 {
  margin-top: 23px; }

.u-mt-24 {
  margin-top: 24px; }

.u-ml-1 {
  margin-left: 1px; }

.u-ml-2 {
  margin-left: 2px; }

.u-ml-3 {
  margin-left: 3px; }

.u-ml-4 {
  margin-left: 4px; }

.u-ml-5 {
  margin-left: 5px; }

.u-ml-6 {
  margin-left: 6px; }

.u-ml-7 {
  margin-left: 7px; }

.u-ml-8 {
  margin-left: 8px; }

.u-ml-9 {
  margin-left: 9px; }

.u-ml-10 {
  margin-left: 10px; }

.u-ml-11 {
  margin-left: 11px; }

.u-ml-12 {
  margin-left: 12px; }

.u-ml-13 {
  margin-left: 13px; }

.u-ml-14 {
  margin-left: 14px; }

.u-ml-15 {
  margin-left: 15px; }

.u-ml-16 {
  margin-left: 16px; }

.u-ml-17 {
  margin-left: 17px; }

.u-ml-18 {
  margin-left: 18px; }

.u-ml-19 {
  margin-left: 19px; }

.u-ml-20 {
  margin-left: 20px; }

.u-ml-21 {
  margin-left: 21px; }

.u-ml-22 {
  margin-left: 22px; }

.u-ml-23 {
  margin-left: 23px; }

.u-ml-24 {
  margin-left: 24px; }

.u-ml-25 {
  margin-left: 25px; }

.u-ml-26 {
  margin-left: 26px; }

.u-ml-27 {
  margin-left: 27px; }

.u-ml-28 {
  margin-left: 28px; }

.u-ml-29 {
  margin-left: 29px; }

.u-ml-30 {
  margin-left: 30px; }

.u-mb-1 {
  margin-bottom: 1px; }

.u-mb-2 {
  margin-bottom: 2px; }

.u-mb-3 {
  margin-bottom: 3px; }

.u-mb-4 {
  margin-bottom: 4px; }

.u-mb-5 {
  margin-bottom: 5px; }

.u-mb-6 {
  margin-bottom: 6px; }

.u-mb-7 {
  margin-bottom: 7px; }

.u-mb-8 {
  margin-bottom: 8px; }

.u-mb-9 {
  margin-bottom: 9px; }

.u-mb-10 {
  margin-bottom: 10px; }

.u-mb-11 {
  margin-bottom: 11px; }

.u-mb-12 {
  margin-bottom: 12px; }

.u-mb-13 {
  margin-bottom: 13px; }

.u-mb-14 {
  margin-bottom: 14px; }

.u-mb-15 {
  margin-bottom: 15px; }

.u-mb-16 {
  margin-bottom: 16px; }

.u-mb-17 {
  margin-bottom: 17px; }

.u-mb-18 {
  margin-bottom: 18px; }

.u-mb-19 {
  margin-bottom: 19px; }

.u-mb-20 {
  margin-bottom: 20px; }

.u-mt-34 {
  margin-top: 34px; }

.u-subnav-decorate {
  margin-left: 4.2px; }

.u-subnav > li:last-child {
  margin-left: 3px; }

.u-fs-10 {
  font-size: 10px; }

.u-fs-11 {
  font-size: 11px; }

.u-fs-12 {
  font-size: 12px; }

.u-fs-13 {
  font-size: 13px; }

.u-fs-14 {
  font-size: 14px; }

.u-fs-15 {
  font-size: 15px; }

.u-fs-16 {
  font-size: 16px; }

.u-fs-17 {
  font-size: 17px; }

.u-fs-18 {
  font-size: 18px; }

.u-fs-19 {
  font-size: 19px; }

.u-fs-20 {
  font-size: 20px; }

.u-fs-21 {
  font-size: 21px; }

.u-fs-22 {
  font-size: 22px; }

.u-fs-23 {
  font-size: 23px; }

.u-fs-24 {
  font-size: 24px; }

.u-fs-25 {
  font-size: 25px; }

.u-fs-26 {
  font-size: 26px; }

.u-fs-27 {
  font-size: 27px; }

.u-fs-28 {
  font-size: 28px; }

.u-fs-29 {
  font-size: 29px; }

.u-fs-30 {
  font-size: 30px; }

.u-fs-31 {
  font-size: 31px; }

.u-fs-32 {
  font-size: 32px; }

.u-fs-33 {
  font-size: 33px; }

.u-fs-34 {
  font-size: 34px; }

.u-fs-35 {
  font-size: 35px; }
