@font-face {
  font-family: 'futuraB';
  src: url(../fonts/FuturaTEE-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'futuraR';
  src: url(../fonts/FuturaTEEMed-Regular.ttf) format("truetype"); }

* {
  box-sizing: border-box;
  font-size: 0; }

a {
  text-decoration: none; }

.align-right {
  text-align: right; }

.futuraB {
  font-family: futuraB; }

.header {
  border-top: 7px solid #d20000; }

.total {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.6; }

.c-text-basic {
  font-size: 12px; }

.c-text-small {
  font-size: 10px; }

.c-text-large {
  font-size: 20px; }

.c-text-bold {
  font-weight: bold; }

.c-text-nav {
  color: #fff; }

.c-text-essential {
  color: #c00; }

.c-text-brand {
  color: #d20000; }

.c-text-search {
  font-size: 14px;
  font-color: #fff; }

.c-text-link {
  color: #000; }

.c-text-title {
  color: #fff; }

.c-bgcolor-tel {
  background-color: #666; }

.c-nav {
  width: 100%; }

.c-list {
  width: maxWidth; }
  .c-list > li {
    display: inline-block; }

.c-wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto; }

.c-form {
  width: 240px;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4.8px;
  border-radius: 3px;
  border-width: 1px;
  font-size: 16px; }

.c-btn {
  border-width: 1px;
  border-radius: 3px; }
  .c-btn:hover {
    cursor: pointer; }

.c-btn {
  border-color: #1c1c1c; }

.c-boxborder {
  border: 1px solid #666; }

.c-titlebox-bgcolor {
  background-color: #d20000; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-cf::before, .u-cf::after {
  display: block;
  clear: both;
  content: ""; }

.u-block {
  display: block; }

.u-inlineblock {
  display: inline-block; }

.u-table {
  display: table; }
  .u-table-cell {
    display: table-cell; }

.u-mt-4 {
  margin-top: 4px; }

.u-mt-5 {
  margin-top: 5px; }

.u-mt-6 {
  margin-top: 6px; }

.u-mt-7 {
  margin-top: 7px; }

.u-mt-8 {
  margin-top: 8px; }

.u-mt-9 {
  margin-top: 9px; }

.u-mt-10 {
  margin-top: 10px; }

.u-mt-11 {
  margin-top: 11px; }

.u-mt-12 {
  margin-top: 12px; }

.u-mt-13 {
  margin-top: 13px; }

.u-mt-14 {
  margin-top: 14px; }

.u-mt-15 {
  margin-top: 15px; }

.u-mt-16 {
  margin-top: 16px; }

.u-mt-17 {
  margin-top: 17px; }

.u-mt-18 {
  margin-top: 18px; }

.u-mt-19 {
  margin-top: 19px; }

.u-mt-20 {
  margin-top: 20px; }

.u-mt-21 {
  margin-top: 21px; }

.u-mt-22 {
  margin-top: 22px; }

.u-mt-23 {
  margin-top: 23px; }

.u-mt-24 {
  margin-top: 24px; }

.p-header-mllarge {
  margin-left: 29px; }

.p-form__btn {
  margin-left: 2px; }

.u-subnav-decorate {
  margin-left: 4px; }

.u-subnav > li:last-child {
  margin-left: 2px;
  margin-right: 0.5px; }

.u-tel__num {
  margin-left: 20px; }

.u-tel__time {
  margin-left: 15px; }

.p-nav {
  background-color: #d20000; }

.p-logo {
  width: 288px;
  font-size: 14px; }

.p-header-text {
  letter-spacing: 1px;
  font-size: 35px; }

.p-header__wrapper {
  width: 950px;
  padding-top: 8px;
  padding-bottom: 27px;
  padding-left: 5px;
  padding-right: 4px; }

.p-header-mllarge {
  margin-left: 29px; }

.p-header__tel {
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 7px; }

.p-header__time {
  padding-top: 7px;
  padding-left: 11.7px;
  padding-bottom: 7px; }

.p-form__btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3.9px;
  padding-right: 4px;
  margin-left: 2px;
  color: #fff;
  background-color: #333; }

.p-list {
  display: table;
  text-align: center; }
  .p-list > li {
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 15px; }

.p-top-wrapper {
  width: 935px;
  padding-top: 19px; }

.p-title {
  width: 300px;
  height: 63px;
  text-align: center;
  line-height: 65px; }

.p-news-pd {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 13px; }

.p-lineheight-sm {
  line-height: 1.5; }

.p-lineheight-md {
  line-height: 2; }

.p-lineheight-l {
  line-height: 2.5; }

.p-smalltitle {
  width: 300px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .p-smalltitle-radius {
    border-radius: 15px; }

.p-img-shadow {
  box-shadow: 0 0 5px #ccc; }

.u-lineheightmd {
  line-height: 2; }

.u-subnav-decorate {
  text-decoration: underline; }

.u-subnav-color {
  color: #000; }

.u-tel__num {
  line-height: 30px; }

.u-tel__time {
  font-size: 11px; }
