.c-text {
  &-basic {
    font: {
      size: 12px;
    }
  }

  &-large {
    font: {
      size: 20px;
    }
  }

  &-bold {
    font:{
      weight: bold;
    }
  }

  &-light {
    font: {
      weight: lighter;
    }
  }

  &-essential {
    color: #c00;
  }

  &-brand {
    color: $brandColor;
  }

  &-link {
    color: #000;
  }

  &-search,
  &-author,
  &-total {
    color: #fff;
  }
}

.c-bgcolor {
  &-tel {
  }
}

.c-list {
  width: 100%;
  & > li {
    display: inline-block;
  }
}

.c-wrapper {
  width: $maxWidth;
  margin: {
    left: auto;
    right: auto;
  }
}