.p-nav {
  background-color: $brandColor;
}

.p-logo {
  width: 288px;

  font: {
    size: 14px;
  }
}

.p-header {

  &-text {
    letter-spacing: 1px;
    font: {
      size: 35px;
    }
  }

  &__wrapper {
    width: 950px;
    padding: {
      top: 8px;
      bottom: 27px;
      left: 5px;
      right: 4px;
    }
  }

  &-mllarge {
    margin-left: 29px;
  }

  &-boxborder {
    @include boxborder(#666);
  }

  &__tel {
    padding: {
      top: 9px;
      left: 5px;
      right: 7px;
    }
  }

  &__time {
    padding :{
      top: 7px;
      left: 11.7px;
      bottom: 7px;
    }
  }
}

.p-form {

  &__btn {
    padding: {
      top: 4px;
      bottom: 4px;
      left: 3.9px;
      right: 4px;
    }
    margin-left: 2px;
    color: #fff;
    background-color: $btnBgColor;
  }
}

.p-list {
  display: table;
   & > li {
    display: table-cell;
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }
}

.p-top {
  &-wrapper {
    width: 935px;
    padding: {
      top: 19px;
    }
  }
}

.p-title {
  width: 300px;
  height: 63px;
  text-align: center;
  line-height: 65px;
}

.p-news {
  &-pd {
    padding: {
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 13px;
    }
  }

  &-boxborder {
    @include boxborder(#626262);
  }
}

.p-lineheight-sm {
  line-height: 1.5;
}

.p-lineheight-md {
  line-height: 2;
}

.p-lineheight-l {
  line-height: 2.5;
}

.p-smalltitle {
  width: 300px;
  height: 30px;
  text-align: center;
  line-height: 30px;

  &-radius {
    border-radius: 15px;
  }
}

.p-img {
  height: 320px;
  width: 220px;
  overflow: hidden;

  &-shadow {
    box-shadow: 0 0 5px #ccc;
  }

  &-product {
    height: 223px;
    background-position: 50% 50%;
    background-size: cover;
  }

  &-cap {
    padding: 5px;
    color: #000;
    background-color: #eee;

    &-text {
      height: 66px;
    }

    &-price {
      font-size: 14px;
    }
  }

}

.p-categories {
  height: 92px;
  background-color: #f4f4f4;

  &-boxborder {
    @include boxborder(#4f4f4f);
  }
}

.p-good {
  &__item {
    display: inline-block;
    width: 462px;
    vertical-align: top;
    }

  &__cap {
    color: #000;
    background-color: #eee;
    padding: {
      top: 9px;
      left:5px;
      right: 5px;
    }

    &__bottom {
      @extend .p-good__cap;
      padding: {
        top: 10px;
      }
    }
  }
}

.p-footer {
  &__top {
    background-color: #626262;
    padding: {
      top: 39px;
      bottom: 37px;
    }
  }

  &__nav {
    &__list {
      padding-left: 11px;
      & >li {
        display: inline-block;

        &:nth-child(n+2) {
          margin-left: 19.9px;
        }
      }
    }
  }

  &__bottom {
    background-color: #434343;
    padding: {
      top:35px;
      bottom: 11px;
    }
  }

  &__img {
    padding-top: 6px;
  }

  &__tel {
    color: #999;

    &__num {
      font-size: 30px;
      letter-spacing: 1.2px;
    }

    &__time {
      font-size: 10px;
      line-height: 30px;
      vertical-align: super;
    }
  }
}

.p-author {
  max-width: $maxWidth;
  margin: {
    top: 32px;
    left: auto;
    right: auto;

  }
}

.p-total {
  font-size: 16px;
  padding: {
    top: 5px;
    right: 12px;
    bottom: 5px;
  }

  &__cart {
    border: 1px solid #1c1c1c;
    border-radius: 3px;
    padding: 7px;
    line-height: 1.5;
    background-color: $brandColor;

  }
}