.p-logo {
  width: 288px;
}

.p-list {
   & > li {
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }
}

.p-top {
  &-wrapper {
    width: 935px;
    padding: {
      top: 19px;
    }
  }
}

.p-news {
  &-pd {
    padding: {
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 13px;
    }
  }

  &-boxborder {
    @include boxborder(#626262);
  }
}

.p-lineheight-sm {
  line-height: 1.5;
}

.p-lineheight-md {
  line-height: 2;
}

.p-lineheight-l {
  line-height: 2.5;
}

.p-categories {
  width: 940px;
  margin: 0 auto;
  height: 92px;
  padding: 18px;
  background-color: #f4f4f4;
  line-height: 1.5;
  font-size: 0;

  &-boxborder {
    @include boxborder(#000);
  }
}

.p-product {
  &__wrapper {
    width: 960px;
  }

  &__list {
    & > li {
      margin: {
        left: 10px;
        right: 10px;
        bottom: 15px;
      }
    }
  }
}


.p-img {
  width: 220px;
  overflow: hidden;

  &-shadow {
    box-shadow: 0 0 5px #ccc;
  }

  &-product {
    height: 223px;
    background-position: 50% 50%;
    background-size: cover;
  }

  &-cap {
    padding: {
      top: 5px;
      left: 4.8px;
      right: 4.8px;
      bottom: 8px;
    }
    color: #000;
    background-color: #eee;

    &-text {
      height: 70px;
      line-height: 1.5;
    }
  }
}

.p-good {
  &__item {
    // display: inline-block;
    width: 462px;
    vertical-align: top;
    }

  &__cap {
    color: #000;
    background-color: #eee;
    padding: {
      top: 9px;
      left:5px;
      right: 5px;
    }

    &__bottom {
      @extend .p-good__cap;
      padding: {
        top: 10px;
      }
    }
  }
}

.p-author {
  max-width: $maxWidth;
  margin: {
    top: 32px;
    left: auto;
    right: auto;

  }
}

.p-total {
  padding: {
    top: 5px;
    right: 12px;
    bottom: 5px;
  }

  &__cart {
    border: 1px solid #1c1c1c;
    border-radius: 3px;
    padding: 7px;
    line-height: 1.5;
    background-color: $brandColor;

  }
}