.u-pb {
  @for $num from 1 through 20 {
    &-#{$num} {
      padding-bottom: #{$num}px;
    }
  }
}

.u-pt-4 {
  padding-top: 4px;
}

.u-lineheightmd {
  line-height: 2;
}

.u-lineheight-18 {
  line-height: 18px;
}

.u-subnav {

  &-decorate {
    text-decoration: underline;
  }

  &-color {
    color: #000;
  }
}

.u-tel {
  &__num {
    line-height: 30px;
  }
}