.u-mt {
  @for $num from 1 through 24 {
    &-#{$num} {
      margin-top: #{$num}px;
    }
  }
}

.u-ml {
  @for $num from 1 through 30 {
    &-#{$num} {
      margin-left: #{$num}px;
    }
  }
}

.u-mb {
  @for $num from 1 through 20 {
    &-#{$num} {
      margin-bottom: #{$num}px;
    }
  }
}

.u-mt-34 {
  margin-top: 34px;
}

.u-subnav {

  &-decorate {
    margin-left: 4.2px;
  }

  & > li {
    &:last-child {
      margin-left: 3px;
    }
  }
}