.u-mt {
  @for $num from 1 through 24 {
    &-#{$num} {
      margin-top: #{$num}px;
    }
  }
}

.u-mt-34 {
  margin-top: 34px;
}

.u-ml {
  @for $num from 1 through 30 {
    &-#{$num} {
      margin-left: #{$num}px;
    }
  }
}

.u-mb {
  @for $num from 1 through 20 {
    &-#{$num} {
      margin-bottom: #{$num}px;
    }
  }
}

.u-subnav {

  &-decorate {
    margin-left: 4px;
  }

  & > li {
    &:last-child {
      margin-left: 2px;
    }
  }
}


.u-tel {
  &__num {
    margin: {
      left: 20px;
    }
  }

  &__time {
    margin: {
      left: 15px;
    }
  }
}
